@import '../../../styles/church_vars.scss';

#inspiration-examples {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#inspiration-block {
	width: 66%;
	height: 40rem;
	background: rgba(53,129,235,.15);
}