@import '../../../styles/church_vars.scss';

#salon-info-container {
	margin: 0;
	min-height: 500px;
	padding: 1.3rem;
	overflow: hidden;
	background: -webkit-linear-gradient(315deg, #EDCB84, #C8A059);
	background: -o-linear-gradient(315deg, #EDCB84, #C8A059);
	background: linear-gradient(135deg, #EDCB84, #C8A059);
	-webkit-box-shadow: 0 0 6rem rgba(44,44,44,.4);
	        box-shadow: 0 0 6rem rgba(44,44,44,.4);
}

#salon-info-contact,
#salon-info-map {
	padding: 0;
}

#salon-info-contact {
	width: 60%;
}
#salon-info-map {
	width: 40%;
}

#salon-info-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: white;
	padding: 0 1rem 0 1rem;
	-webkit-box-shadow: 0 2px 8px 0 rgba(54,54,54,0.10);
	        box-shadow: 0 2px 8px 0 rgba(54,54,54,0.10);
	z-index: 2;
	overflow-y: hidden;

	#salon-info-contact-container {
		width: 92%;
		max-width: 48rem;
		padding: 0;
		margin: 1rem 0 0 0;
		.grid-row {
			margin: 1.6rem 0; 
			padding: 0;
			.col-xs-4, 
			.col-xs-8 {
				margin: 0; 
				padding: 0;
			}
		}
	}

	hr {
		margin: 2rem 0;
	}

	.section-divider {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 10rem;
		width: 100%;
		position: relative;
		margin-top: -1rem !important;
		margin-bottom: -2rem !important;

		img.shark-icon {
			position: absolute;
			height: 100%;
			left: calc(50% - 3.6rem);
			margin: 0;
		}
		h6 {
			z-index: 2;
			-webkit-transform: translateY(-1rem);
			    -ms-transform: translateY(-1rem);
			        transform: translateY(-1rem);
		}
		margin-bottom: -.1rem;
	}

	.contact-info {
		.playfair-divider {
			margin: 0 .5rem;
		}
		h5, span {
			margin: 0;
			line-height: 1.5;
		}
		h5.info-title {
			font-size: 1.4rem;
			font-family: 'Brown Bold', sans-serif;
			letter-spacing: .3rem;
			text-transform: uppercase;
			margin: .2rem 0 -.2rem 0;
		}
		span {
			font-size: 1.6rem;
			h5.info-title {
				display: inline !important;
				margin-right: .4rem;
			}
		} 
	}
}

#salon-info-map {
	overflow: hidden;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
}

#sola-message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start !important;
	    -ms-flex-pack: start !important;
	        justify-content: flex-start !important;
	-webkit-box-align: start !important;
	    -ms-flex-align: start !important;
	        align-items: flex-start !important;
	margin-top: 2rem;
	margin-left: -.1rem;
	img#sola-logo {
		margin-right: 1.6rem;
		height: 6.4rem;
		width: 6.4rem;
	}
	p {
		margin: 0;
	}
}

@media only screen and (max-width: 780px) {

	#salon-info-contact {
		padding: 3.5rem 1rem 3rem 1rem;
	}

	#salon-info-container {
		min-height: 800px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		        align-items: flex-start;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		        justify-content: flex-start;
	}
	#salon-info-contact {
		width: 100%;
	}
	#salon-info-map {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	#sola-message {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center !important;
		    -ms-flex-align: center !important;
		        align-items: center !important;

		img#sola-logo {
			margin-bottom: 1.5rem;
			margin-right: 0 !important;
			height: 7rem;
			width: 7rem;
		}
		p {
			margin: 0;
		}
	}
}

@media only screen and (max-width: 410px) {
	h5.info-title {
		letter-spacing: 0 !important;
	}

	.contact-info .col-xs-8 {
		margin-left: 1rem;
	}
}