@import '../../../styles/church_vars.scss';

#salon-info-container {
	margin: 0;
	min-height: 500px;
	padding: 1.3rem;
	background: -webkit-linear-gradient(315deg, #EDCB84, #C8A059);
	background: -o-linear-gradient(315deg, #EDCB84, #C8A059);
	background: linear-gradient(135deg, #EDCB84, #C8A059);
	-webkit-box-shadow: 0 0 6rem rgba(44,44,44,.32);
	        box-shadow: 0 0 6rem rgba(44,44,44,.32);
}

#salon-info-contact,
#salon-info-map {
	padding: 0;
}

#salon-info-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: white;
	padding: 5rem 1rem 3rem 1rem;
	-webkit-box-shadow: 0 2px 8px 0 rgba(54,54,54,0.10);
	        box-shadow: 0 2px 8px 0 rgba(54,54,54,0.10);
	z-index: 2;

	#salon-info-contact-container {
		width: 92%;
		max-width: 45.5rem;
		padding: 0;
		margin: 0;
		.grid-row {
			margin: 1.6rem 0; 
			padding: 0;
			.col-xs-4, 
			.col-xs-8 {
				margin: 0; 
				padding: 0;
			}
		}
	}

	hr {
		margin: 2rem 0;
	}

	.section-divider {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		img.shark-icon {
			position: absolute;
			height: 10rem;
		}
		h6 {
			z-index: 2;
			-webkit-transform: translateY(-1rem);
			    -ms-transform: translateY(-1rem);
			        transform: translateY(-1rem);
		}
		margin-bottom: -.1rem;
	}

	.contact-info {
		.playfair-divider {
			margin: 0 .5rem;
		}
		h5, span {
			margin: 0;
			line-height: 1.5;
		}
		h5 {
			font-size: 1.4rem;
			font-family: 'Brown Bold', sans-serif;
			letter-spacing: .3rem;
			text-transform: uppercase;
			margin: .2rem 0 -.2rem 0;
		}
		span {
			font-size: 1.6rem;
		} 
	}
}

#salon-info-map {
	overflow: hidden;
}

#sola-message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start !important;
	    -ms-flex-pack: start !important;
	        justify-content: flex-start !important;
	-webkit-box-align: start !important;
	    -ms-flex-align: start !important;
	        align-items: flex-start !important;
	margin-top: 2rem;
	margin-left: -.1rem;
	img#sola-logo {
		margin-right: 1.6rem;
		height: 6.4rem;
		width: 6.4rem;
	}
	p {
		margin: 0;
	}
}