<section class="grid-row" id="salon-info-container">
	
	<div id="salon-info-contact">
		<div id="salon-info-contact-container">

			<div class="section-divider">
				<img src="../../../assets/icon_shark.png" class="shark-icon" alt="a shark">
				<h6>
					<span class="playfair">0:2</span>
					<span class="playfair-divider">/</span>
					<span>SALON INFO</span>
				</h6>
			</div>

			<hr class="hr-gold">

			<div class="contact-info grid-row">
				<div class="col-xs-4">
					<h5 class="info-title">Phone</h5> 
				</div>
				<div class="col-xs-8">
					<a href="tel:509-555-5555"><span class="txt-bold">509-555-5555</span></a>
				</div>

			</div>

			<div class="contact-info grid-row">
				<div class="col-xs-4">
					<h5 class="info-title">Hours</h5> 
				</div>
				<div class="col-xs-8">
					<span class="txt-light"><h5 class="info-title">TUE</h5> 11:00am&ndash;7:00pm</span><br/>
					<span class="txt-light"><h5 class="info-title">WED&ndash;FRI</h5> 9:00am&ndash;5:00pm</span><br/>
					<span class="txt-light"><h5 class="info-title">SAT</h5> 9:00am&ndash;3:00pm</span><br/>
				</div>

			</div>

			<div class="contact-info grid-row">
				<div class="col-xs-4">
					<h5 class="info-title">Location</h5>
				</div>	
				<div class="col-xs-8">
					<span class="txt-light">Sola Salons</span><br/>
					<span class="txt-light">802 E 29th Ave, Suite #1</span><br/>
					<span class="txt-light">Spokane, WA 99203</span><br/>
				</div>
			</div>

			<hr class="hr-gold">

			<div id="sola-message">
				<img src="../../../assets/sola_logo.png" alt="sola salons logo" id="sola-logo">
				<p>
					<span class="txt-bold">NOTE:</span> CHURCH is located inside the Sola Salons building in Suite #1. So if you see this sign, you're in the right place. Just <span class="txt-bold">park for free</span> in the lot outside and come on in.
				</p>
			</div>

		</div>
	</div>

	<div id="salon-info-map">
		<google-map></google-map>
	</div>


</section>