<section id="book-now-container">

	<div class="container section-padding" id="book-now-message">
		<h3 class="txt-bold txt-gold txt-allcaps">Let Me Show You My Roots.</h3>
		<p>
			At Church, I take my craft very seriously, but I don’t take myself too seriously. Or something like that. The point of this section is to say “hey, you should really come to Church.” And it should probably be about this long. Cool. End of site.
		</p>
		<p class="txt-bold txt-allcaps" id="cta">
			To book an appointment, call or text:
		</p>
		<h3 class="playfair txt-allcaps" id="phone-num">
			<a href="tel:509-995-5049">509<span class="playfair-divider">/</span>995<span class="playfair-divider">/</span>5049</a>
		</h3>
	</div>

</section>