<section id="book-now-container">

	<div class="container section-padding" id="book-now-message">
		<h3 class="txt-bold txt-gold txt-allcaps">Let's Make you a Sensation.</h3>
		<h5 class="txt-bold txt-allcaps" id="cta">
			To book an appointment, call or text:
		</h5>
		<a href="tel:509-995-5049">
			<button class="btn--chop btn-primary--green">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>509-995-5049</span>
			</button>
		</a>
	</div>

	<div id="booknow-bkg">
		<div class="overlay"></div>
		<video autoplay muted loop id="booknow-video">
			<source src="../../../assets/booknow-video.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>
	</div>

</section>