@import '../../../styles/church_vars.scss';

#book-now-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: url(../../../assets/paint_abstract.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 52rem;
	#book-now-message {
		max-width: 60rem;
		color: white;

		h3, h4 {
			text-transform: uppercase;
			text-align: center;
			line-height: 1;
			margin: 0;
		}

		#cta {
			text-align: center;
			margin: 2rem 0 1.4rem 0;
		}
		a {
			text-decoration: none
		}
		button {
			display: flex;
			align-items: center;
			padding: .8rem .9rem .7rem 1rem;
			margin: 0 auto;
			font-size: 1.5rem;
			i {
				font-size: 2rem;
				margin-right: .6rem;
			}
		}

	}
}

@media only screen and (max-width: 860px) {
	#book-now-container {
		background-size: 160% 100%;
	}
}

@media only screen and (max-width: 480px) {
	#book-now-container {
		background-size: 200% 100%;
	}
}