@import '../../../styles/church_vars.scss';

#mullet-gang-container {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0 0 6rem rgba(44,44,44,.4);
	        box-shadow: 0 0 6rem rgba(44,44,44,.4);

	.hr-gold-thick {
		z-index: 3;
		position: absolute;

	}
}

#mullet-message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 2;
	margin-top: 10.8rem !important;
	margin-bottom: 12rem !important;
	mix-blend-mode: multiply;

	h3 {
		margin: 0;
	}

	p {
		margin: 1.5rem 0 2.5rem 0;
	}
	.grid-row {
		width: 66%;
		margin-left: 0;
		margin-right: 2.55%;
		padding-left: .0;
		padding-right: .5rem;
	}
}

#mullet-backgrounds {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	#mullet-bkg-stamps,
	#mullet-bkg-img {
		content: '';
		height: 55rem;
	}

	#mullet-bkg-stamps {
		width: 66%;
		background: url('../../../assets/mullet-stamps.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	#mullet-bkg-img {
		width: 34%;
		background: url('../../../assets/mullet.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

}

@media only screen and (max-width: 780px) {
	#mullet-gang-container {
		height: 74rem !important;
	}
	#mullet-message {
		height: 44rem !important;
		margin-top: 0 !important; margin-bottom: 0 !important;

		.grid-row {
			padding-left: .5rem !important;
			width: 100% !important;
		}
	}
	#mullet-bkg-stamps {
		background-size: cover !important;
		background-position: center right !important;
		opacity: .88 !important;
	}
	#mullet-bkg-stamps {
		display: block !important;
		width: 100% !important;
		height: 44rem !important;
	}
	#mullet-bkg-img {
		display: block !important;
		width: 100% !important;
		height: 30rem !important;
		background-position: center !important;
	}
}