<section class="grid-row" id="mullet-gang-container">

	<hr class="hr-gold-thick" style="top: 0;"/>

	<div class="container" id="mullet-message">
		<div class="grid-row">
			<h3 class="txt-gold txt-bold txt-allcaps">Join the Mullet Gang</h3>
			<p>
				You've heard the saying "Business in the front, party in the back," but have you ever wondered what they're celebrating? Here's the answer: getting free mullets. At CHURCH, you can <span class="txt-bold">buy four mullets and the fifth one is free.</span> Because there's no better business than saving some cash. Ask about the Mullet Punch Card next time you come to CHURCH.
			</p>
			<button 
			class="btn--chop btn-secondary--black" 
			pageScroll 
			[pageScrollDuration]="400" 
			[pageScrollOffset]="66"
			href="#book-now">
				Get a Sick Mull'
			</button>
		</div>
	</div>

	<div id="mullet-backgrounds">
		<div class="grid-row">
			<div id="mullet-bkg-stamps"></div>
			<div id="mullet-bkg-img"></div>
		</div>
	</div>

	<hr class="hr-gold-thick" style="bottom: 0;"/>

</section>