<section class="grid-row" id="mullet-gang-container">

	<div class="container" id="mullet-message">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="grid-row">
				<h3 class="txt-gold txt-bold txt-allcaps">Join the Mullet Gang</h3>
				<p>
					You've heard the saying "Business in the front, party in the back." Well, you know what's <span class="txt-italic">really</span> good business? Saving some cash. At CHURCH, you can <span class="txt-bold">get four mullets and the fifth one is free.</span> Ask about the Mullet Punch Card next time you come to CHURCH.
				</p>
				<button 
				class="btn--chop btn-secondary--black" 
				pageScroll 
				[pageScrollDuration]="400" 
				[pageScrollOffset]="66"
				href="#book-now">
					Get a Sick Mull'
				</button>
			</div>
		</div>
	</div>

	<div id="mullet-backgrounds">
		<div class="grid-row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="mullet-bkg-stamps"></div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="mullet-bkg-img"></div>
		</div>
	</div>

</section>