<section class="grid-row" id="mullet-gang-container">

	<div class="container" id="mullet-message">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="grid-row">
				<h3 class="txt-gold txt-bold txt-allcaps">Join the Mullet Gang</h3>
				<p>
				<span class="txt-bold">Get four mullets and the fifth one is free.</span> In maximus, quam mattis luctus fringilla, diam nunc sollicitudin massa, at molestie nibh tortor quis elit. Donec bibendum leo lorem, at blandit sem accumsan nec.
				</p>
				<button 
				class="btn--chop btn-secondary--black" 
				pageScroll 
				[pageScrollDuration]="400" 
				[pageScrollOffset]="66"
				href="#book-now">
					Get that Mull, Son
				</button>
			</div>
		</div>
	</div>

	<div id="mullet-backgrounds">
		<div class="grid-row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="mullet-bkg-stamps"></div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="mullet-bkg-img"></div>
		</div>
	</div>

</section>