@import '../../../styles/church_vars.scss';

footer {
	padding: 7rem 0 7.7rem 0;
	background: white;

	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	h6 {
		line-height: 1.65rem;
		margin: 0;
	}

	@media only screen and (max-width: 890px) {
		.divider {
			display: none;
		}

		.line-break {
			display: inline;
		}
	}

	@media only screen and (max-width: 580px) {
		.container {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
	}

}

.footer-social,
.footer-legal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer-social {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;

	img {
		height: 2.6rem;
		width: 2.6rem;
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
		background: white;
		cursor: pointer;
		&:hover {
			-webkit-transform: translateY(-.7rem);
			    -ms-transform: translateY(-.7rem);
			        transform: translateY(-.7rem);
		}
	}
	a {
		text-decoration: none;
		position: relative;
	}
	a:after {
		content: '';
		opacity: 0;
		position: absolute;
		bottom: .3rem;
		left: 0;
		width: 100%;
		height: .1rem;
		z-index: -1;
		background: rgba(44,44,44,1);
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
		border-radius: 50%;
		-webkit-filter: blur(.2rem);
		        filter: blur(.2rem);
		-webkit-transition: opacity .5s, -webkit-transform .7s;
		transition: opacity .5s, -webkit-transform .7s;
		-o-transition: opacity .5s, transform .7s;
		transition: opacity .5s, transform .7s;
		transition: opacity .5s, transform .7s, -webkit-transform .7s;
	}
	a:hover:after {
		opacity: .6;
		-webkit-transform: scale(.8);
		    -ms-transform: scale(.8);
		        transform: scale(.8);
	}
	a:not(:last-child) {
		margin-right: .8rem;
	}
	a:last-child {
		margin-right: 1.6rem;
	}

	h6 {
		letter-spacing: .3rem;
		text-transform: uppercase;
		font-size: 1.1rem;
		margin-top: 0;
	}
	.txt-gold {
		color: #bb8f42 !important;
	}
}

.footer-legal {

	h6 {
		text-align: right;
	}

	.divider {
		margin: 0 1rem;
		color: $gold;
	}

	@media only screen and (max-width: 580px) {
		margin-top: 1.6rem;

		.divider {
			display: inline;
			color: #bb8f42 !important;
		}

		.line-break {
			display: none;
		}

		h6 {
			text-align: left;
		}
	}

}