<nav>
	<div class="container">

		<span class="nav-social">
			<span class="nav-social-icons">
				<a href="https://www.facebook.com/churchsalon/">
					<img src="../../assets/social_insta.png" alt="instagram"/>
				</a>
				<a href="https://www.instagram.com/church_salon/">
					<img src="../../assets/social_fb.png" alt="facebook"/>
				</a>
			</span>
			<h6 class="txt-regular">Is this your jam? Preach. <br class="line-break"><span class="txt-gold">#takemetochurchsalon</span></h6>
		</span>

		<span class="nav-legal">
			<h6 class="txt-light">
				&copy; {{currentYear}} CHURCH Salon<span class="divider txt-bold">/</span><br class="line-break">All rights reserved
			</h6>
		</span>
		
	</div>
</nav>