@import '../../../styles/church_vars.scss';

footer {
	background: white;
	padding: 7rem 0 7.7rem 0;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h6 {
		line-height: 1.65rem;
		margin: 0;
	}

	@media only screen and (max-width: 890px) {
		.divider {
			display: none;
		}

		.line-break {
			display: inline;
		}
	}

	@media only screen and (max-width: 580px) {
		.container {
			flex-direction: column;
			align-items: flex-start;
		}
	}

}

.footer-social,
.footer-legal {
	display: flex;
	align-items: center;
	color: $black;
}

.footer-social {
	justify-content: flex-start;

	img {
		height: 2.6rem;
		width: 2.6rem;
		transition: $transition;
		&:hover {
			-webkit-filter: drop-shadow(0 .2rem 1.5rem rgba(44,44,44,.25));
			filter: drop-shadow(0 .2rem 1.5rem rgba(44,44,44,.25));
		}
	}
	a {
		transition: $transition;
		&:hover {
			filter: brightness(1.2);
		}
	}
	a:not(:last-child) {
		margin-right: .8rem;
	}
	a:last-child {
		margin-right: 1.6rem;
	}

	h6 {
		letter-spacing: .3rem;
		text-transform: uppercase;
		font-size: 1.1rem;
		margin-top: 0;
	}
	.txt-gold {
		color: #bb8f42 !important;
	}
}

.footer-legal {

	h6 {
		text-align: right;
	}

	.divider {
		margin: 0 1rem;
		color: $gold;
	}

	@media only screen and (max-width: 580px) {
		margin-top: 1.6rem;

		.divider {
			display: inline;
			color: #bb8f42 !important;
		}

		.line-break {
			display: none;
		}

		h6 {
			text-align: left;
		}
	}

}