@import '../../../styles/church_vars.scss';

#hero {
	width: 100%;
	box-shadow: $box-shadow-xlarge;
	padding-top: 14rem;
}

#hero-bkg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125%;
	max-height: 94rem;
	min-height: 40rem;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
	z-index: -1;
}

#hero-messaging {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 1;
}

#hero-message h2 {
	color: white;
	max-width: 50rem;
	margin-right: 5vw;
}

#hero-image {
	position: relative;
	width: 50rem;
	height: 50rem;
	overflow: hidden;
	-webkit-transform: translateX(-1px);
		ms-transform: translateX(-1px);
		transform: translateX(-1px);
	background: url('../../../assets/amy_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-box-shadow: $box-shadow-large;
	        box-shadow: $box-shadow-large;
}

#hero-image .color-bars {
	position: absolute;
	bottom: -.3rem;
	right: 0;
	width: 1rem;
	height: 7rem;
}


/* SALON INTRO */

#my-promise {
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: 4rem;
}

h3.promise-copy {
	margin: 6rem auto 7rem auto;
	max-width: 80%;
}

// Re-order hero message and photo, story width

@media only screen and (max-width: 880px) {

	#hero {
		padding-top: 12rem !important;
	}

	#hero-messaging {
		flex-direction: column;
		align-items: flex-start;

		#hero-message {
			width: 100% !important;
			margin-bottom: 4.5rem;

			h2 {
				max-width: 100%;
				margin-right: 0;
			}
		}

		#hero-image {
			display: flex;
			align-self: center;
		}
	}

	#hero-image {
		width: 100% !important;
		max-width: 48rem !important;
		height: 48rem !important;
	}

	#hero-bkg {
		height: 110rem !important;
		max-height: 110rem !important;
		clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
	}

	h3.promise-copy {
		max-width: 100%;
		margin: 4rem 0 5rem 0;
	}

	.seamonster-icon {
		width: 13.5rem;
	}

	.section-divider {
		h6 {
			margin: 1.1rem 0 1.4rem 0;
			text-align: right;
		}
	}
}

@media only screen and (max-width: 480px) {

	#hero {
		padding-top: 9.4rem !important;
	}

	#hero-bkg {
		top: -8rem !important;
		height: 115rem !important;
		max-height: 115rem !important;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
	}

}