<section id="hero">
	<div class="container">

		<!-- Hero Messaging -->
		<section id="hero-messaging">

			<!-- Hero message -->
			<div id="hero-message">
				<h2 class="hero-message txt-light">This is a hair salon that focuses on haircolor and cutting hair and you can come just as you are.</h2>
				<button class="btn--chop btn-secondary--white">
					<a 	
					pageScroll 
					[pageScrollDuration]="400" 
					[pageScrollOffset]="69" 
					href="#services">
						See Services
					</a>
				</button>
			</div>

			<!-- Hero image -->
			<div id="hero-image">
				<img src="../../../assets/color-bar_hero.svg" class="color-bars" alt="color bars">
			</div>

		</section>

		<!-- Salon Intro -->
		<section id="my-promise">

			<div class="section-divider column-right-align">
				<img src="../../../assets/icon_seamonster.png" id="seamonster-icon" alt="my promise">
				<h6>
					<span class="playfair">0:0</span>
					<span class="playfair-divider">/</span>
					<span>MY PROMISE</span>
				</h6>
			</div>

			<hr class="hr-gold-thick"/>
			<h3 class="txt-gold txt-bold promise-copy">
				So you’re probably wondering why it’s called Church. Here’s an explanation. Donec eu nibh quis ex tincidunt cursus. Quisque quis urna est. Integer et auctor ipsum, vel mollis risus. Praesent convallis, lorem et laoreet malesuada, sapien nibh ornare lacus, eu vulputate metus est in sem. Fusce et lacinia nulla, vel convallis massa. Come to Church.
				</h3>
		</section>

	</div>

	<!-- Background image -->
	<div class="parallax-container" id="hero-bkg">
	  <div class="parallax"><img src="../../../assets/paint_blur_2.jpg" alt="cool background paint" id="hero-bkg-img"></div>
	</div>

	<hr class="hr-gold-thick"/>
</section>