<section id="hero">
	<div class="container">

		<!-- Hero Messaging -->
		<section id="hero-messaging">

			<!-- Hero message -->
			<div id="hero-message">
				<h2 class="hero-message txt-light">Not a church. A salon called CHURCH with a focus on color, cut, and style.</h2>
				<button class="btn--chop btn-secondary--white">
					<a 	
					pageScroll 
					[pageScrollDuration]="400" 
					[pageScrollOffset]="69" 
					href="#services">
						See Services
					</a>
				</button>
			</div>

			<!-- Hero image -->
			<div id="hero-image">
				<img src="../../../assets/color-bar_hero.svg" class="color-bars" alt="color bars">
			</div>

		</section>

		<!-- Salon Intro -->
		<section id="my-promise">

			<div class="section-divider column-right-align">
				<img src="../../../assets/icon_seamonster.jpg" id="seamonster-icon" alt="a seamonster">
				<h6>
					<span class="playfair">0:0</span>
					<span class="playfair-divider">/</span>
					<span>MY PROMISE</span>
				</h6>
			</div>

			<hr class="hr-gold-thick"/>
			<h3 class="txt-gold txt-bold promise-copy">
				CHURCH is a place where you can come as you are and leave as a better version of yourself. Whether your hair is thick or thin, dark, light, or anywhere in between, the spirit of CHURCH is to enhance the things you like about yourself the most. 
				<a 
				pageScroll 
				[pageScrollDuration]="400" 
				[pageScrollOffset]="69" 
				href="#book-now">
					Come to CHURCH</a> and let’s make you a sensation.
			</h3>
		</section>

	</div>

	<!-- Background image -->
	<div class="parallax-container" id="hero-bkg">
		<div class="parallax">
			<!-- <img src="../../../assets/paint_blur_2.jpg" alt="cool background paint" id="hero-bkg-img"> -->
		<video autoplay muted loop playsinline id="hero-video">
			<source src="../../../assets/hero-video.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
		</video></div>
	</div>

	<hr class="hr-gold-thick"/>
</section>
