@import './church_fonts.scss';
@import './church_vars.scss';


/*-------- GENERAL --------*/

html {
	font-size: 62.5%;
}

body * {
	font-family: 'Brown Regular', sans-serif;
}

body {
	background: white;
}

// Selection

::-moz-selection { 
	background: $gold;  
	color: white;
}

::selection {
	background: $gold; 
	color: white;
}

// Transition

.transition {
	transition: $transition;
}


/*-------- LAYOUT AND GRID --------*/

.line-break {
	display: none;
}

.column-right-align {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.section-padding {
	padding: 8rem 0;
}


/*-------- TEXT STYLES --------*/

h1 {
	font-size: 12.7rem;
	line-height: 1;
}

h2 {
	font-size: 3.8rem;
	line-height: 1.1;
}

h3 {
	font-size: 3rem;
	line-height: 1.3;
}

h4 {
	font-size: 2.1rem;
}

h5 {
	font-size: 1.6rem;
	letter-spacing: .05rem;
}

h6 {
	font-size: 1.2rem;
	letter-spacing: .05rem;
}

p {
	font-size: 1.6rem;
	line-height: 1.4;
	letter-spacing: .05rem;
	font-family: 'Brown Light', sans-serif;
}

.txt-gold {
	color: $gold !important;
}

.txt-light {
	font-family: 'Brown Light', sans-serif;
}

.txt-regular {
	font-family: 'Brown Regular', sans-serif;
}

.txt-bold {
	font-family: 'Brown Bold', sans-serif;
}


/*-------- BUTTONS AND LINKS --------*/

a {
	cursor: pointer;
}

button {
	font-family: 'Brown Bold', sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	background: none;
	padding: 1.1rem 1.1rem .9rem 1.3rem;
	margin: 0;
	border: none;
	cursor: pointer;
	transition-duration: $transition; 
}

button.btn-primary {
	background: $gold;
	color: white;
	transition-duration: $transition; 
	&:hover {
		background: $gold-hover;
	}
}

button.btn-secondary--white {
	background: none;
	border: .2rem solid white;
	color: white;
	&:hover {
		background: white;
		color: $black;
	}
}


/*-------- DIVIDERS --------*/

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;               
  background-color: $black;
  height: 1px;
  margin: 0;
}

hr.hr-gold-thick {
	height: 13px;
	background: -webkit-gradient(linear, left top, right top, from(#EDCB84), to(#C8A059));
	background: -webkit-linear-gradient(left, #EDCB84, #C8A059);
	background: -o-linear-gradient(left, #EDCB84, #C8A059);
	background: linear-gradient(to right, #EDCB84, #C8A059);
}

/*-------- LISTS --------*/

ul {
	list-style: none;
	padding: 0;
	margin: 0 -.6rem;
	li {
		list-style-position: inside;
	}
}

@media only screen and (max-width: 780px) {
	ul {
		margin: 0;
	}
}

/*-------- SECTION DIVIDERS --------*/

.section-divider {
	.playfair {
		font-size: 2rem;
		letter-spacing: .3rem;
		transform: translateY(-.3rem);
	}
	.playfair-divider {
		font-size: 2rem;
		margin: 0 1rem 0 1.5rem;
	}
	h6 {
		font-family: 'Brown Italic', sans-serif;
		letter-spacing: 1rem;
		margin: 2rem 0;
		display: flex;
		align-items: center;
		line-height: 1;
		padding: 0;
	}
}