/*----------  VARIABLES  ----------*/

// Colors
$black: #2C2C2C;
$gold: #D5AF68;
$gold-hover: #c2963e;
$off-gold: #F7F7F1;
$green: #29cb87;
$green-hover: #6EF6BD;
$blue: #2574e2;
$blue-onblack: #3f8ffc;


// Effects
$transition: .25s;
$box-shadow-med: 0 .4rem 1.8rem rgba(44,44,44,.18);
$box-shadow-large: 0 .6rem 2.5rem rgba(44,44,44,.3);
$box-shadow-xlarge: 0 0 6rem rgba(44,44,44,.45);