@font-face {
  font-family: 'Brown Light';
  src:  url('/assets/fonts/lineto-brown-light.eot') format('embedded-opentype'),
        url('/assets/fonts/lineto-brown-light.ttf') format('truetype'),
        url('/assets/fonts/lineto-brown-light.woff') format('woff'),
        url('/assets/fonts/lineto-brown-light.svg') format('svg');
}

@font-face {
  font-family: 'Brown Regular';
  src:  url('/assets/fonts/lineto-brown-regular.eot') format('embedded-opentype'),
        url('/assets/fonts/lineto-brown-regular.ttf') format('truetype'),
        url('/assets/fonts/lineto-brown-regular.woff') format('woff'),
        url('/assets/fonts/lineto-brown-regular.svg') format('svg');
}

@font-face {
  font-family: 'Brown Italic';
  src:  url('/assets/fonts/lineto-brown-italic.eot') format('embedded-opentype'),
        url('/assets/fonts/lineto-brown-italic.ttf') format('truetype'),
        url('/assets/fonts/lineto-brown-italic.woff') format('woff'),
        url('/assets/fonts/lineto-brown-italic.svg') format('svg');
}

@font-face {
  font-family: 'Brown Bold';
  src:  url('/assets/fonts/lineto-brown-bold.eot') format('embedded-opentype'),
        url('/assets/fonts/lineto-brown-bold.ttf') format('truetype'),
        url('/assets/fonts/lineto-brown-bold.woff') format('woff'),
        url('/assets/fonts/lineto-brown-bold.svg') format('sitalicvg');
}

@font-face {
  font-family: 'Brown Bold Italic';
  src:  url('/assets/fonts/lineto-brown-bolditalic.eot') format('embedded-opentype'),
        url('/assets/fonts/lineto-brown-bolditalic.ttf') format('truetype'),
        url('/assets/fonts/lineto-brown-bolditalic.woff') format('woff'),
        url('/assets/fonts/lineto-brown-bolditalic.svg') format('svg');
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  margin: 0;
}

.playfair-divider  {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  margin: 0;
}