@import './church_fonts.scss';
@import './church_vars.scss';


/*-------- GENERAL --------*/

html {
	font-size: 62.5%;
}

body * {
	font-family: 'Brown Regular', sans-serif;
}

body {
	background: white;
}

// Selection

::-moz-selection { 
	background: $gold;  
	color: white;
}

::selection {
	background: $gold; 
	color: white;
}

// Transition

.transition {
	transition: $transition;
}


/*-------- LAYOUT AND GRID --------*/

.container {
  margin: 0 auto;
  max-width: 104rem;
  width: 92%;
}

.line-break {
	display: none;
}


/*-------- TEXT STYLES --------*/

h1 {
	font-size: 12.7rem;
	line-height: 1;
}

h2 {
	font-size: 3.8rem;
	line-height: 1.1;
}

h6 {
	font-size: 1.2rem;
	letter-spacing: .05rem;
}

.txt-gold {
	color: $gold !important;
}

.txt-light {
	font-family: 'Brown Light', sans-serif;
}

.txt-regular {
	font-family: 'Brown Regular', sans-serif;
}

.txt-bold {
	font-family: 'Brown Bold', sans-serif;
}


/*-------- BUTTONS AND LINKS --------*/

a {
	cursor: pointer;
}

button {
	font-family: 'Brown Bold', sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	background: none;
	padding: 1.1rem 1.1rem .9rem 1.3rem;
	margin: 0;
	border: none;
	cursor: pointer;
	transition-duration: $transition; 
}

button.btn-primary {
	background: $gold;
	color: white;
	transition-duration: $transition; 
	&:hover {
		background: $gold-hover;
	}
}

button.btn-secondary--white {
	background: none;
	border: .2rem solid white;
	color: white;
	&:hover {
		background: white;
		color: $black;
	}
}