@font-face {
  font-family: 'Brown Light';
  src:  url('../fonts/lineto-brown-light.eot') format('embedded-opentype'),
    url('../fonts/lineto-brown-light.ttf') format('truetype'),
    url('../fonts/lineto-brown-light.woff') format('woff'),
    url('../fonts/lineto-brown-light.svg') format('svg');
}

@font-face {
  font-family: 'Brown Regular';
  src:  url('../fonts/lineto-brown-regular.eot') format('embedded-opentype'),
    url('../fonts/lineto-brown-regular.ttf') format('truetype'),
    url('../fonts/lineto-brown-regular.woff') format('woff'),
    url('../fonts/lineto-brown-regular.svg') format('svg');
}

@font-face {
  font-family: 'Brown Bold';
  src:  url('../fonts/lineto-brown-bold.eot') format('embedded-opentype'),
    url('../fonts/lineto-brown-bold.ttf') format('truetype'),
    url('../fonts/lineto-brown-bold.woff') format('woff'),
    url('../fonts/lineto-brown-bold.svg') format('svg');
}