<nav-bar></nav-bar>

<hero 
	id="home"
></hero>

<img src="../assets/sheila_horiz.jpg" alt="sick mullet on a pew" style="width: 100%; height: auto; margin-bottom: -3px;">

<services 
	id="services" 
	trackScroll 
	(trackScrollEnter)="enter()"
></services>

<salon-info id="info" style="position: relative; z-index: 10;"></salon-info>

<img id="stylist" src="../assets/corinne_horiz.jpg" alt="corinne brown" style="width: 100%; height: auto; margin-bottom: -3px;">

<book-now id="book-now"></book-now>

<site-footer></site-footer>