.parallax-container {
	min-height: 90rem;
	display: flex;
	justify-content: space-between;
}

.parallax {
	margin-top: 10rem;
}

.parallax img.full-width {
/*	width: 110%;
	height: auto;*/
/*	width: 100%;
	height: auto;*/
}

.parallax-double {
	display: flex;
	justify-content: space-between;
}

.half-width {
	width: 50vw;
	display: inline-block;
	flex: 1;
}
.parallax-container.half-width {
	min-height: 58rem;
}

.parallax-container.half-width .parallax {
		margin-top: 5rem;
}