<nav-bar></nav-bar>

<hero 
	id="home" 
></hero>

<div class="parallax-container" style="width: 100%; margin-bottom: -3px;">
  <div class="parallax"><img class="full-width" src="../assets/sheila_horiz.jpg" alt="sick mullet on a pew"></div>
</div>

<services id="services"></services>
<mullet-gang style="position: relative; z-index: 10;"></mullet-gang>
<!-- <inspiration></inspiration> -->

<salon-info id="info" style="position: relative; z-index: 100;"></salon-info>

<stylist id="stylist"></stylist>

<div class="parallax-container" style="width: 100%; margin-bottom: -3px;">
  <div class="parallax"><img class="full-width" src="../assets/amy_horiz.jpg" alt="gorgeous purple hair"></div>
</div>

<policies id="policies"></policies>

<book-now id="book-now" style="position: relative; z-index: 10;"></book-now>

<site-footer></site-footer>