<div class="fade-in">

	<nav-bar></nav-bar>

	<hero id="home"></hero>

	<div class="parallax-container" style="width: 100%;;">
	  <div class="parallax"><img src="../assets/sheila_horiz.jpg" alt="sick mullet on a pew"></div>
	</div>

	<services id="services"></services>
	<mullet-gang style="position: relative; z-index: 10;"></mullet-gang>

	<div class="parallax-double">
		<div class="parallax-container half-width">
		  <div class="parallax"><img src="../assets/amyn_horiz.jpg" alt="flowing purple gorgeousness"></div>
		</div>
		<div class="parallax-container half-width">
		  <div class="parallax"><img src="../assets/brit_horiz.jpg" alt="blonde for days"></div>
		</div>
	</div>

	<salon-info id="info" style="position: relative; z-index: 100;"></salon-info>

	<stylist id="stylist"></stylist>

	<div class="parallax-container" style="width: 100%;">
	  <div class="parallax"><img src="../assets/amyr_horiz.jpg" alt="heavenly pink and purple hair"></div>
	</div>

	<policies id="policies"></policies>

	<book-now id="book-now" style="position: relative; z-index: 10;"></book-now>

	<site-footer></site-footer>
	
</div>