#hero {
	width: 100%;
	height: 94rem;
	position: relative;
}

#hero-bkg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../assets/paint_blur.jpg);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
	z-index: -1;
}

#hero-messaging {
	-webkit-transform: translateY(14rem);
	    -ms-transform: translateY(14rem);
	        transform: translateY(14rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 1;
}

h2.hero-message {
	font-family: 'Brown Light', sans-serif !important;
	color: white;
	max-width: 50rem;
}

#hero-image {
	position: relative;
	width: 50rem;
	height: 50rem;
	overflow: hidden;
	-webkit-transform: translateX(-1px);
		ms-transform: translateX(-1px);
		transform: translateX(-1px);
	background: url('../assets/hero_photo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-box-shadow: 0 .6rem 2.5rem rgba(44,44,44,.2);
	        box-shadow: 0 .6rem 2.5rem rgba(44,44,44,.2);
}

#hero-image .color-bars {
	position: absolute;
	bottom: -.3rem;
	right: 0;
	width: 1rem;
	height: 7rem;
}