@import '../../../styles/church_vars.scss';

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background: white;
	padding: 1.5rem 0;
}

nav .container {
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

nav .nav-links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav .nav-links a {
	font-family: 'Brown Bold', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2rem;
	cursor: pointer;
	font-size: 1.4rem;
	color: $black;
	margin-right: 2.6rem;
	padding: .7rem 0 .6rem 0;
	position: relative;
	display: inline-block;
	// -webkit-transition: $transition;
	// -o-transition: $transition;
	// transition: $transition;
	// &:hover {
	// 	color: $gold-hover;
	// }
}

.hover-halo a {
	padding: 8px 0;
	position: relative;
}

.hover-halo a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: .3rem;
	background: -webkit-gradient(linear, left top, right top, from(#EDCB84), to(#C8A059));
	background: -webkit-linear-gradient(left, #EDCB84, #C8A059);
	background: -o-linear-gradient(left, #EDCB84, #C8A059);
	background: linear-gradient(to right, #EDCB84, #C8A059);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-23px);
	-moz-transform: translateY(-23px);
	transform: translateY(-23px);
}

.hover-halo a:hover::after,
.hover-halo a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(-33px);
	-moz-transform: translateY(-33px);
	transform: translateY(-33px);
}

// .nav-section-highlight {
// 	position: relative;
// }

// .nav-section-highlight:before {
// 	content: '';
// 	position: absolute;
// 	width: calc(100% - 8px);
// 	height: 2px;
// 	background: -webkit-gradient(linear, left top, right top, from(#EDCB84), to(#C8A059));
// 	background: -webkit-linear-gradient(left, #EDCB84, #C8A059);
// 	background: -o-linear-gradient(left, #EDCB84, #C8A059);
// 	background: linear-gradient(to right, #EDCB84, #C8A059);
// 	top: -3px;
// 	left: 0;
// }

#logo-desktop {
	height: 3.6rem;
	margin: .1rem 0 -.1rem 0;
}

// Shadow

.round-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.7rem;
  z-index: 9;
}
.round-shadow {
    // box-shadow: 0 1px 4px rgba(44, 44, 44, 0.15), 0 0 20px rgba(44, 44, 44, 0.1) inset;
    // -webkit-box-shadow: 0 3px 12px 0 rgba(54,54,54,0.15);
    //         box-shadow: 0 3px 12px 0 rgba(54,54,54,0.15);
} 
.round-shadow:before, .round-shadow:after{
	content:"";
	position:absolute;
	bottom: 0; top: .5rem; left: 2rem; right: 2rem;
	z-index: -1;
	border-radius: 50%/3rem;
	-webkit-box-shadow: 0 0 5rem .2rem rgba(44, 44, 44, 0.12);
	-moz-box-shadow: 0 0 5rem .2rem rgba(44, 44, 44, 0.12);
	box-shadow: 0 0 5rem .2rem rgba(44, 44, 44, 0.12);
}

