<nav>
	<div class="container">
		<div class="nav-logo">
			<a pageScroll [pageScrollDuration]="400" href="#home">
				<img src="../../../assets/logo_gradient.svg" alt="CHURCH salon logo" id="logo-desktop">
			</a>
		</div>
		<div class="nav-links">
			<a 
			pageScroll 
			[pageScrollDuration]="400" 
			[pageScrollOffset]="68"
			*ngFor="let link of links; let i = index;" 
			[ngClass]="{'nav-section-highlight': link.highlighted === true}" 
			href="#{{link.pageAnchor}}">
				{{link.name}}
			</a>
			<button 
			pageScroll 
			[pageScrollDuration]="400" 
			[pageScrollOffset]="68" 
			class="btn-primary" 
			href="#book-now">
				Book Now
			</button>
		</div>
	</div>
</nav>
<div class="round-shadow"></div>