@import '../../../styles/church_vars.scss';

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background: white;
	padding: 1.5rem 0;
	z-index: 1000;
}

nav .container {
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

nav .nav-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

nav .nav-links a {
	font-family: 'Brown Bold', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2rem;
	cursor: pointer;
	font-size: 1.4rem;
	color: $black;
	margin-right: 2.6rem;
	padding: .7rem 0 .6rem 0;
	position: relative;
	display: inline-block;
}

#desktop-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.hover-halo a {
	padding: 8px 0;
	position: relative;
}

.hover-halo a::after {
	position: absolute;
	top: 100%;
	left: calc(50% - .7rem);
	width: 1.4rem;
	height: .3rem;
	background: -webkit-gradient(linear, left top, right top, from(#EDCB84), to(#C8A059));
	background: -webkit-linear-gradient(left, #EDCB84, #C8A059);
	background: -o-linear-gradient(left, #EDCB84, #C8A059);
	background: linear-gradient(to right, #EDCB84, #C8A059);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	-o-transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateY(-23px);
	-ms-transform: translateY(-23px);
	    transform: translateY(-23px);
}

.hover-halo a:hover::after,
.hover-halo a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(-33px);
	-ms-transform: translateY(-33px);
	    transform: translateY(-33px);
}

#logo-desktop {
	height: 3.6rem;
	margin: .1rem 0 -.1rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#logo-mobile {
	height: 4.6rem;
	margin: .1rem 1rem -.1rem -.1rem;
	display: none;
}

// Shadow

.round-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.7rem;
  z-index: 999;
}
.round-shadow:before, .round-shadow:after{
	content:"";
	position:absolute;
	bottom: 0; top: .5rem; left: 0; right: 0;
	z-index: -1;
	border-radius: 50%/3rem;
	-webkit-box-shadow: 0 0 5rem .2rem rgba(44, 44, 44, 0.12);
	box-shadow: 0 0 5rem .2rem rgba(44, 44, 44, 0.12);
}

// Mobile Menu

#mobile-menu {
	display: none;
	cursor: pointer;
}

.mobile-menu-btn {
	width: 26px;
	height: 26px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	    transform: rotate(0deg);
	-webkit-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
	cursor: pointer;
}

.mobile-menu-btn span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	    transform: rotate(0deg);
	-webkit-transition: $transition ease-in-out;
	-o-transition: $transition ease-in-out;
	transition: $transition ease-in-out;
}

.mobile-menu-btn span:nth-child(1) {
	top: 0px;
	background: -webkit-gradient(linear, left top, right top, from(#EDCB84), to(#C8A059));
	background: -webkit-linear-gradient(left, #EDCB84, #C8A059);
	background: -o-linear-gradient(left, #EDCB84, #C8A059);
	background: linear-gradient(to right, #EDCB84, #C8A059);
	z-index: 2;
}

.mobile-menu-btn span:nth-child(2) {
	top: 11px;
	background: $black;
}

.mobile-menu-btn span:nth-child(3) {
	bottom: 0px;
	background: $black;
}

.menu-open span:nth-child(1) {
	-webkit-transform: rotate(45deg) translate(3px,12.5px);
	-ms-transform: rotate(45deg) translate(3px,12.5px);
	    transform: rotate(45deg) translate(3px,12.5px);
	width: 38px;
}

.menu-open span:nth-child(2) {
	top: 11px;
	width: 0%;
}

.menu-open span:nth-child(3) {
	-webkit-transform: rotate(-45deg) translate(3px,-12.5px);
	-ms-transform: rotate(-45deg) translate(3px,-12.5px);
	    transform: rotate(-45deg) translate(3px,-12.5px);
	width: 38px;
}

#mobile-menu-screen {
	position: fixed;
	top: 36px;
	left: 0;
	width: 100%;
	height: calc(100vh - 36px);
	background: rgba(255,255,255,.95);
	z-index: 998;
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
	opacity: 0;
	visibility: hidden;

	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 5%;
	}

	button.btn-primary {
		font-size: 3rem;
		padding: 1.4rem 1.5rem 1.5rem 1.9rem;
		width: 100%;
		margin-top: 1rem;
		border: .4rem solid transparent;
		letter-spacing: .3rem;

		span {
			white-space: nowrap;
		}
	}

	h1 {
		font-size: 5rem;
		font-family: 'Brown Light', sans-serif;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: .8rem;
	}

	#mobile-menu-links a {
		text-decoration: none;
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
		&:hover {
			color: $gold;
		}
	}

	.playfair {
		font-size: 3rem;
		letter-spacing: .1rem;
	}

	.playfair-divider {
		-webkit-text-stroke: 1px $gold;
	}

}

#mobile-menu-screen.show-mobile-menu {
	opacity: 1;
	visibility: visible;
}

@media only screen and (max-width: 880px) {
	#mobile-menu,
	#mobile-menu-screen {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	#desktop-menu {
		display: none;
	}

	nav {
		padding: 1.7rem 0;
	}
}

@media only screen and (max-width: 560px) {

	#mobile-menu-screen {
		
		.container {
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
		}

		button.btn-primary {
			font-size: 2rem;
			padding: 1rem 1rem 1rem 1.4rem;
			border: .3rem solid transparent;
		}

		h1 {
			font-size: 3.8rem;
			letter-spacing: .5rem !important;
		}

		.playfair {
			font-size: 2rem;
		}

	}

}

@media only screen and (max-width: 480px) {
	#logo-mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	#logo-desktop {
		display: none;
	}

	nav {
		padding: 1.2rem 0;
	}


}

@media only screen and (max-width: 420px) {

	h1 {
		font-size: 3rem !important;
	}

}