<section id="services">
	<hr class="hr-gold-thick" id="services-gold-bar"/>

	<div class="container section-padding">

		<!-- Section divider -->
		<div class="section-divider">
			<img src="../../../assets/icon_octopus.png" class="octopus-icon" alt="salon services">
			<h6>
				<span class="playfair">0:1</span>
				<span class="playfair-divider">/</span>
				<span>SERVICES</span>
			</h6>
		</div>

		<!-- Services -->
		<div class="grid-row">
			<div class="col-xs-0 col-sm-2"></div>
			<section class="col-xs-12 col-sm-8" id="services-intro">

				<!-- Intro -->
				<p>
					While haircut services at CHURCH have a fixed price, color projects are customized to fulfill your heart's desires. Many services below may vary in price depending on what you're hoping to achieve, what color and condition your hair is currently in, and how much color is necessary to create the desired look.
				</p>
				<p>
					If you have any questions about scheduling or appointments, take a gander at the  
					<a  	
					pageScroll 
					[pageScrollDuration]="400" 
					[pageScrollOffset]="69" 
					href="#policies">
						salon policies</a>.
				</p>

				<!-- Cuts -->
				<div class="services-content">
					<div class="section-header">
						<h2>CUTS</h2>
						<img src="../../assets/cuts.svg" alt="cuts" class="services-header-img">
					</div>
					<div class="service-hero">
						<div class="service-hero--pricing">
							<span class="txt-regular">All Haircuts</span>
							<span class="txt-light">$70</span>
						</div>
						<p>
							Long or short? Thick or thin? Curly or straight? Every head of hair is unique and presents its own personality and challenges regardless of age, gender, or creed. At CHURCH, a haircut costs you the same as anyone else who visits—no more, no less.
						</p>
					</div>
					<!-- List of services -->
					<ul class="services-list">
						<li *ngFor="let service of cuts; let i = index">
							<span class="txt-regular">{{service.name}}</span>
							<span class="txt-light">{{service.price}}</span>
						</li>
					</ul>
				</div>

				<!-- Color -->
				<div class="services-content">
					<div class="section-header">
						<h2>COLOR</h2>
						<img src="../../assets/color.png" alt="color" class="services-header-img">
					</div>
					<div class="service-hero">
						<div class="service-hero--pricing">
							<span class="txt-regular">Color Consultation</span>
							<span class="txt-light">On the house!</span>
						</div>
						<p>
							Want new color? Is change scary? Had bad color experiences at another place? Not sure if what you want is possible? 
							<a  	
							pageScroll 
							[pageScrollDuration]="400" 
							[pageScrollOffset]="69" 
							class="txt-blue-onblack" 
							href="#book-now">
								Come in for a free consultation
							</a> 
							to have your questions answered before booking your color.
						</p>
					</div>
					<!-- List of services -->
					<ul class="services-list">
						<li *ngFor="let service of color; let i = index">
							<span class="txt-regular">{{service.name}}</span>
							<span class="txt-light">{{service.price}}</span>
						</li>
					</ul>
				</div>

				<!-- Style -->
				<div class="services-content">
					<div class="section-header">
						<h2>STYLE</h2>
						<img src="../../assets/style.svg" alt="style" class="services-header-img">
					</div>
					<!-- List of services -->
					<ul class="services-list">
						<li *ngFor="let service of style; let i = index">
							<span class="txt-regular">{{service.name}}</span>
							<span class="txt-light">{{service.price}}</span>
						</li>
					</ul>
				</div>

				<!-- Goldwell -->
				<div id="goldwell">
					<div id="goldwell-message">
<!-- 						<img src="../../assets/goldwell_logo.svg" alt="Goldwell Logo" id="goldwell-logo"> -->
						<h4 class="txt-gold txt-allcaps txt-bold shimmer">Intelligent Color By Design</h4>
						<p>As a Goldwell Regional Artist, Corinne Brown proudly serves up Goldwell color at CHURCH.</p>
					</div>
					<img src="../../assets/goldwell.png" alt="Goldwell products" id="goldwell-product">
				</div>


			</section>
			<div class="col-xs-0 col-sm-2"></div>
		</div>

	</div>
	<!-- Paint stroke images -->
	<img src="../../assets/paint-stroke-1.png" alt="beautiful paint" id="paint-stroke-1">
	<img src="../../assets/paint-stroke-2.png" alt="more beautiful paint" id="paint-stroke-2">
</section>
