@import '../../../styles/church_vars.scss';

#services {
	background: white;
	width: 100%;
	-webkit-box-shadow: $box-shadow-xlarge;
	        box-shadow: $box-shadow-xlarge;
	position: relative;
	background: transparent;

	.grid-row {
		padding-left: .5rem;
		padding-right: .5rem;
	}

	.section-divider {
		height: 9.4rem;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		img {
			position: absolute;
			left: 0;
			height: 100%;
		}
		h6 {
			margin: 1.6rem 0 .5rem 3rem;
			text-align: right;
		}
		.playfair-divider {
			margin: 0 .7rem 0 1rem;
		}
	}

	.section-padding {
		padding-top: 8.5rem;
	}

}

#services-intro {
	margin-top: 8.5rem;
}

.services-content {

	margin-top: 6rem;

	.section-header {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		position: relative;
		overflow: hidden;
	}

	h2 {
		position: absolute;
		left: -9999px;
	}
	img.services-header-img {
		height: 4rem;
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 880px) {
	img.services-header-img {
		height: 3rem !important;
	}
}

.services-list {
	border-top: .2rem solid $gold;
	border-bottom: .2rem solid $gold;
	-webkit-box-shadow: 0 .4rem 1.8rem rgba(44,44,44,.2);
	        box-shadow: 0 .4rem 1.8rem rgba(44,44,44,.2);
	li {
		font-family: 'Brown Bold', sans-serif;
		padding: 1.7rem 1.8rem 1.5rem 1.8rem;
		margin: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		.txt-bold {
			text-transform: uppercase;
			letter-spacing: .2rem;
			font-size: 1.4rem;
		}
		.txt-regular {
			letter-spacing: .05rem;
			font-size: 1.5rem;
			text-align: right;
		}
	}
	li:nth-child(even) {
		background: white;
	}
	li:nth-child(odd) {
		background: $off-gold;
	}
}


.color-consult {
	font-family: 'Brown Bold', sans-serif;
	padding: 1.7rem 1.8rem 1.5rem 1.8rem;
	margin: 0 -.6rem;
	background: $black;
	color: white;
	.color-consult--pricing {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		color: $gold;
		margin-bottom: .8rem;
		.txt-bold {
			text-transform: uppercase;
			letter-spacing: .2rem;
			font-size: 1.4rem;
		}
		.txt-regular {
			letter-spacing: .05rem;
			font-size: 1.5rem;
			text-align: right;
		}
	}
	p {
		color: white;
		margin: 0;
	}
}

@media only screen and (max-width: 780px) {
	.color-consult {
		margin: 0 !important;
	}
}

hr#services-gold-bar {
	position: absolute;
	top: 0;
	z-index: 1;
}

// Paint images

img#paint-stroke-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 33%;
	z-index: -1;
}

img#paint-stroke-2 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

@media only screen and (max-width: 700px) {
	img#paint-stroke-2 {
		width: 66% !important;
	}
}

@media only screen and (max-width: 880px) {
	img#paint-stroke-1 {
		width: 50% !important;
	}
}