.map-info-window {
	h5 {
		line-height: 1;
		margin: 0 !important;
	}
	span {
		font-size: 1.4rem;
		margin: 0;
	}
}

@media only screen and (max-width: 780px) {
	#agm-map {
		height: 300px !important;
	}
}