<agm-map 
  [latitude]="lat" 
  [longitude]="lng" 
  [zoom]="zoom" 
  [draggable]="false" 
  [draggableCursor]="false" 
  [panControl]="false" 
  [streetViewControl]="false" 
  [streetViewControlOptions]="false" 
  [styles]="styles" 
  style="height: 500px;" id="agm-map">
  
  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl">
      <agm-snazzy-info-window 
        [padding]="padding"
        [borderRadius]="borderRadius" 
        [border]="false" 
        [maxWidth]="200" 
        [closeWhenOthersOpen]="true" 
        [closeOnMapClick]="true">
        <ng-template class="map-info-window">
          <h5 class="txt-bold">C H U R C H</h5>
          <div class="txt-light">802 E 29th Ave, Suite #1</div>
          <div class="txt-light">Spokane, WA 99203</div>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>

</agm-map>