<section id="stylist-container">

	<div class="container">

		<div class="grid-row" id="stylist-bio">
			<div class="col-xs-6">

				<div class="section-divider">
					<img src="../../../assets/icon_whale.png" alt="the stylist" id="whale-icon">
					<h6>
						<span class="playfair">04</span>
						<span class="playfair-divider">/</span>
						<span>THE STYLIST</span>
					</h6>
				</div>

				<div id="halo"></div>
				<h1 class="txt-light">
					CORINNE<br>
					BROWN
				</h1>
				<img src="../assets/paint_streak.png" alt="paint streak" id="paint-streak">
			</div>
		</div>

	</div>


	<img src="../assets/corinne_horiz.jpg" alt="corinne brown" id="corinne-hero-img">

</section>
