<!-- Corinne Brown Bio -->
<section id="stylist-container">
	<div class="container">
		<div class="grid-row">
			<div id="stylist-bio">
				<!-- Section Divider -->
				<div class="section-divider">
					<img src="../../../assets/icon_whale.png" alt="the stylist" id="whale-icon">
					<h6>
						<span id="playfair-stylist"><span class="playfair">0:3</span>
						<span class="playfair-divider">/</span></span>
						<span>THE STYLIST</span>
					</h6>
					<img src="../../../assets/arrow.png" alt="arrow pointing right" id="arrow">
				</div>
				<!-- Corinne Brown -->
				<div class="corinne-title">
					<div class="halo"></div>
					<h1 class="txt-regular">
						CORINNE<br>
						BROWN
					</h1>
					<img src="../assets/paint_streak.png" alt="paint streak" id="paint-streak">
				</div>
				<!-- Corinne Bio -->
				<div id="about-corinne">
					<div class="corinne-title">
						<div class="halo"></div>
						<h1 class="txt-regular">
							CORINNE<br>
							BROWN
						</h1>
						<img src="../assets/paint_streak.png" alt="paint streak" id="paint-streak">
					</div>
					<p>Here’s the thing: A lot of salons say they can make you fit a specific image. But at CHURCH, I’ll help you craft your own. I’ve spent a decade helping a wide variety of people, from average Joes to professional models, express themselves through color, cut, and styling. Whatever your heart’s desire, I’ll help you be the edgiest, or the prettiest, or the coolest, or the weirdest version of YOU. &mdash;Corinne</p>
				</div>
			</div>
		</div>

	</div>

</section>

<!-- ColorZoom Section -->
<section id="colorzoom-container">

	<div class="container" id="gold-box">
		<div class="grid-row">
			<div class="col-xs-12 col-sm-7" id="colorzoom-story">
				<div id="colorzoom-story--header">
					<h3 class="txt-bold txt-gold txt-allcaps">WORLD-CLASS COLOR</h3>
					<p class="txt-bold txt-white">Co-creator of IN-FLUX and Color Zoom 2015 International Partner Gold Winner</p>
				</div>
				<hr class="em-dash" align="left">
				<p class="txt-white">Every year, Goldwell hosts an international hair coloring competition and each country sends representatives to compete on behalf of their nation&mdash;basically the hair coloring version of the Olympics. Corinne represented the USA and proudly took home gold in 2015. Following her victory she joined the international Color Zoom team and co-created Goldwell's 2017 Color Zoom trend IN-FLUX. Since then she's been a member of the Goldwell USA Artist team, her work has been featured in multiple publications, and she was named the #1 up-and-coming hair colorist under 30 by the Colorist Magazine.</p>
			</div>
		</div>
		<img src="../assets/cz-logo_gold.png" alt="colorzoom logo" id="colorzoom-logo">
	</div>

	<div id="blackbox"></div>

<!-- 	<img src="../assets/cz_marching.jpg" alt="corinne winning colorzoom" id="corinne-colorzoom-img"> -->

</section>

<section id="testimonials-container">
	<div class="container" id="testimonials">
		<div id="testify-header">
			<h2 class="txt-bold txt-allcaps">Testify<span class="playfair">!</span></h2>
		</div>
		<h4 class="txt-light" id="quote">
			<span>
				{{currentQuote.quote}} 
				<h4 class="playfair"><span class="txt-regular">&mdash;</span>{{currentQuote.name}}</h4>
			</span>
		</h4>
		<div id="testimonial-avys">
			<button 
			class="avy-toggle" 
			(click)="selectAvy(currentQuote.index-1);" 
			[ngClass]="{'toggle-disabled': currentQuote.index === 0 }">
				<img src="../../../assets/arrow-left.png" alt="arrow-left" id="arrow-left">
			</button>
			<button 
			*ngFor="let avy of avys; let i = index" 
			class="avy-btn" 
			[ngClass]="{'avy-active': avy.selected}" 
			(click)="selectAvy(i);">
					<img src="../assets/{{avy.photo}}" alt="{{avy.name}}">
			</button>
			<button 
			class="avy-toggle" 
			(click)="selectAvy(currentQuote.index+1);" 
			[ngClass]="{'toggle-disabled': currentQuote.index === avys.length-1 }">
			<img src="../../../assets/arrow-right.png" alt="arrow-right" id="arrow-right">
			</button>
		</div>
	</div>
</section>