@import '../../../styles/church_vars.scss';

#stylist-container {
	position: relative;
	height: 66.5rem;
	overflow: hidden;
	background: url('../../../assets/corinne_horiz.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	z-index: -1;

	.container, .grid-row {
		height: 100%;
	}

	.grid-row {
		margin-left: -1.3rem;
		margin-right: -1.7rem;
	}

	#stylist-bio {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		padding: 4.5rem 0 4.5rem .4rem;
		height: 90%;
		width: 50%;

		.corinne-title {
			mix-blend-mode: multiply;

			.halo {
				background: -webkit-gradient(linear, left top, right top, from(#EDCB84), to(#C8A059));
				background: -webkit-linear-gradient(left, #EDCB84, #C8A059);
				background: -o-linear-gradient(left, #EDCB84, #C8A059);
				background: linear-gradient(to right, #EDCB84, #C8A059);
				height: 1.2rem;
				width: 7.4rem;
				margin: 0 0 .9rem .8rem;
				opacity: .85;
			}

			h1 {
				margin: 0;
				line-height: .9;
				opacity: .85;
			}

			img#paint-streak {
				width: 50rem;
				height: 1.2rem;
				-webkit-transform: rotate(-10deg) translateY(-3.4rem);
				    -ms-transform: rotate(-10deg) translateY(-3.4rem);
				        transform: rotate(-10deg) translateY(-3.4rem);
				opacity: .95;
			}

		}

		.section-divider {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			mix-blend-mode: multiply;
			height: 8rem;
			position: relative;

			h6 {
				position: relative;
				margin-left: 3rem;
				letter-spacing: .9rem;
			}
			.playfair-divider {
				margin: 0 .7rem 0 0;
			}
			img#whale-icon {
				position: absolute;
				height: 8rem;
				top: 0;
				width: auto;
				-webkit-transform: translateY(-.4rem);
				    -ms-transform: translateY(-.4rem);
				        transform: translateY(-.4rem);
				opacity: .8;
			}
			img#arrow {
				width: 3.6rem;
				height: auto;
				opacity: .7;
				display: none;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				margin: -1.5rem 0 0 4.5rem;
			}
		}

		#about-corinne {

			.corinne-title {

				.halo {
					margin: 0 0 .3rem .2rem;
					height: .5rem;
					width: 2.5rem;
				}

				h1 {
					font-size: 4rem;
					letter-spacing: .3rem;
				}

				img#paint-streak {
					width: 17.5rem;
					height: .6rem;
					-webkit-transform: rotate(-10deg) translateY(-1.4rem);
					    -ms-transform: rotate(-10deg) translateY(-1.4rem);
					        transform: rotate(-10deg) translateY(-1.4rem);
					opacity: .95;
				}

				margin: .6rem 0 1rem 0;
				display: none;
			}
			background: rgba(255,255,255,.9);
			-webkit-box-shadow: $box-shadow-med;
			        box-shadow: $box-shadow-med;
			padding: 1.2rem 1.5rem;
			width: 85%;
			margin-left: .8rem;
			p {
				margin: 0;
				line-height: 1.45
			}
			p::first-line {
				font-family: 'Brown Regular', sans-serif !important;
			}
		}

	}
}

#colorzoom-container {
	position: relative;
	height: 66.5rem;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: url('../../../assets/cz_marching.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;

	#gold-box {
		-webkit-box-shadow: inset 0 0 0 13px $gold;
		        box-shadow: inset 0 0 0 13px $gold;
		height: 75%;
		width: 100%;
		z-index: 2;
		position: relative;

		.grid-row {
			height: 100%;
		}

		#colorzoom-story {
			margin: 0 1rem;
			height: 100%;

			padding: 7rem;

			#colorzoom-story--header {
				margin: 0;
				h3 {
					margin: 0;
				}
				p {
					margin: .4rem 0 1.5rem 0;
				}
			}

			p {
				margin-top: 1.7rem;
			}
		}

		img#colorzoom-logo {
			width: 40%;
			height: auto;
			position: absolute;
			bottom: .9rem;
			right: 4.3rem;
		}
	}

	#blackbox {
		background: rgba(22,22,22,.8);
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 60%;
		height: 100%;
	}

}

#testimonials-container {
	background: url('../../../assets/paper_texture.jpg');
	background-size: cover;
	color: $black;
	-webkit-box-shadow: 0 0 6rem rgba(44,44,44,.55);
	        box-shadow: 0 0 6rem rgba(44,44,44,.55);
	padding: 7.2rem 0 8rem 0;
	margin-top: -.3rem;

	#testify-header {
		position: relative;
		background: url('../../../assets/raised_hands.png');
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-opacity: .2;
		height: 14rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		mix-blend-mode: multiply;

		h2 {
			text-align: center;
			letter-spacing: 1.4rem;
			margin-left: .9rem;
		}
	}

	#testimonials {
		#quote {
			margin: 6rem auto;
			max-width: 80rem;
			line-height: 1.5;

			h4 {
				text-align: center;
				margin-top: 3rem;
			}
			.txt-regular {
				margin-right: .5rem;
			}
		}

		#testimonial-avys {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			margin: 0 auto;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			height: 8rem;
			width: 100%;
			max-width: 40rem;

			button.avy-toggle {
				height: 6rem;
				color: $gold;
				padding: 0;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				cursor: pointer;
				img {
					width: 3.2rem;
					height: 1.9rem;
					cursor: pointer;
					-webkit-transition-property: -webkit-transform;
					transition-property: -webkit-transform;
					-o-transition-property: transform;
					transition-property: transform;
					transition-property: transform, -webkit-transform;
					-webkit-transition-duration: $transition;
					     -o-transition-duration: $transition;
					        transition-duration: $transition;
				}
				&:hover > img#arrow-left {
					-webkit-transform: translateX(-.7rem);
					    -ms-transform: translateX(-.7rem);
					        transform: translateX(-.7rem);
				}
				&:hover > img#arrow-right {
					-webkit-transform: translateX(.7rem);
					    -ms-transform: translateX(.7rem);
					        transform: translateX(.7rem);
				}
				&:active > img#arrow-left {
					-webkit-transform: translateX(0);
					    -ms-transform: translateX(0);
					        transform: translateX(0);
				}
				&:active > img#arrow-right {
					-webkit-transform: translateX(0);
					    -ms-transform: translateX(0);
					        transform: translateX(0);
				}
			}

			button.avy-toggle.toggle-disabled {
				pointer-events: none;
				opacity: .17;
			}

			button.avy-btn {
				width: 6rem;
				height: 6rem;
				margin: 1rem;
				border-radius: 50%;
				border: .3rem solid white;
				-webkit-box-shadow: 0 .2rem .4rem rgba(44,44,44,.35);
				        box-shadow: 0 .2rem .4rem rgba(44,44,44,.35);
				background: white;
				overflow: hidden;
				position: relative;
				cursor: pointer;
				transition: $transition;

				&:hover {
					filter: brightness(1.07);
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					border-radius: 50%;
				}
			}

			button.avy-btn.avy-active {
				-webkit-box-shadow: 0 .35rem 1.2rem rgba(44,44,44,.3);
				        box-shadow: 0 .35rem 1.2rem rgba(44,44,44,.3);
				border: none;
				-webkit-transform: scale(1.8);
				    -ms-transform: scale(1.8);
				        transform: scale(1.8);
				background: -webkit-gradient(linear, top, bottom, from(#EDCB84), to(#C8A059));
				background: -webkit-linear-gradient(top, #EDCB84, #C8A059);
				background: -o-linear-gradient(top, #EDCB84, #C8A059);
				background: -webkit-gradient(linear, left top, left bottom, from(#EDCB84), to(#C8A059));
				background: linear-gradient(to bottom, #EDCB84, #C8A059);
				img {
					-webkit-transform: scale(.88);
					    -ms-transform: scale(.88);
					        transform: scale(.88);
					border-radius: 50%;
					overflow: hidden;
				}
			}
		}
	}
}


@media only screen and (max-width: 1080px) {
	#stylist-container {
		background-position: top right -9.5rem !important;
	}

	#colorzoom-container {
		background-position: center right -150px;
	}

	.corinne-title {
		display: none;
	}

	#stylist-bio {
		width: 50% !important;
		height: 65% !important
	}

	#about-corinne {
		.corinne-title {
			display: block !important;
		}
	}
}

@media only screen and (max-width: 900px) {
	#stylist-bio {

		.section-divider {
			max-width: 15rem !important;
			height: 10rem !important;

			h6 {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: start;
				    -ms-flex-align: start;
				        align-items: flex-start;
				margin-left: 1rem !important;
			}

			#playfair-stylist {
				margin: 3.8rem 0 1rem 0;

				.playfair-divider {
					margin: 0 0rem 0 .4rem;
				}
			}
			img#whale-icon {
				height: 7.2rem !important;
				top: 1rem !important;
			}
		}
	}

	#stylist-bio {
		width: 100% !important;
		height: 80% !important;
	}
}

@media only screen and (max-width: 980px) {

	#colorzoom-container {
		min-height: 0 !important;
		height: auto !important;
		background-position: center right !important;
		display: inline-block !important;
		.container {
			margin: 0 !important;
		}
	}

	#colorzoom-story {
		padding: 3.6rem 6rem 3.6rem 3.6rem !important;
		margin-bottom: 3.2rem !important;
		width: 100% !important;
	}
	#goldbox {
		height: 200px !important;
		margin: 0 !important;
	} 

}

@media only screen and (max-width: 780px) {

	#blackbox {
		width: 100% !important;
	}

	img#colorzoom-logo {
		height: 6rem !important;
		width: auto !important;
		right: 3.8rem !important;
	}

	#stylist-bio {
		height: 88% !important;
		padding: 4.5rem 0 0 .4rem !important;
	}

	button.avy-btn {
		&:hover {
			filter: brightness(1) !important;
		}
	}

	button.avy-toggle {
		&:hover > img#arrow-left {
			-webkit-transform: translateX(0) !important;
			    -ms-transform: translateX(0) !important;
			        transform: translateX(0) !important;
		}
		&:hover > img#arrow-right {
			-webkit-transform: translateX(0) !important;
			    -ms-transform: translateX(0) !important;
			        transform: translateX(0) !important;
		}
	}
}

@media only screen and (max-width: 660px) {
	#stylist-container {
		background-position: top right 31% !important;
	}
	#colorzoom-container {
		background-position: center right -120px !important;
	}
}

@media only screen and (max-width: 480px) {
	#stylist-bio {
		padding-top: 6.5rem !important;
	}

	.section-divider {
		height: 16rem !important;
	}
	img#arrow {
		display: block !important;
		position: absolute !important;
		bottom: -5.2rem !important;
		left: 0 !important;
	}
	#testify-header {
		margin-bottom: 0 !important;
	}
	#testimonials-container {
		padding: 5rem 0 5.5rem 0 !important;
	}
	#quote {
		margin: 4rem auto 3rem auto !important;
		font-size: 1.6rem !important;
		h4 {
			margin: 2.5rem 0 4rem 0 !important;
			font-size: 1.6rem !important;
			letter-spacing: .1rem !important;
		}
	}
	button.avy-toggle {
		height: 4.8rem !important;
		img {
			width: 2.8rem !important;
			height: 1.6rem !important;
		}
	}
	button.avy-btn.avy-active {
		-webkit-transform: scale(1.7) !important;
		    -ms-transform: scale(1.7) !important;
		        transform: scale(1.7) !important;
	}
}