@import '../../../styles/church_vars.scss';

#policies-container {
	position: relative;
	padding: 0 0 8rem 0;
	-webkit-box-shadow: 0 0 6rem rgba(44,44,44,.55);
	        box-shadow: 0 0 6rem rgba(44,44,44,.55);
	 overflow-x: hidden;

	.grid-row {
		padding-left: 1rem;
		padding-right: 1rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.col-gutter {
		width: 16%;
	}

	.col-main {
		width: 66%;
	}

	img#green-paint {
		width: 100%;
		height: 30.9rem;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
	}

	.container {
		padding-top: 18.5rem;
	}

	h1 {
		margin: 0 0 0 -.8rem;
		line-height: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;

		#O {
			position: relative;

			#star-number {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%; height: 100%;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
			}
			img#starfish-icon {
				position: absolute;
				width: 5.5rem;
				height: auto;
				z-index: -2;
				margin: 0 -.2rem 0 .2rem;
			}
			.playfair {
				position: absolute;
				font-size: 2rem;
				letter-spacing: .3rem;
				z-index: -1;
				margin: -.4rem 0 .4rem 0;
			}
		}

		#I {
			position: relative;
			height: 11rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			#i-character {
				opacity: 1;
				margin-bottom: -1.9rem;
			}
			#color-bars-i {
				opacity: 0;
				position: absolute;
				-webkit-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				        transform: rotate(90deg);
				bottom: 1.9rem;
				left: -.95rem;
				height: 1.2rem;
			}
		}

	}

}

#policies-header-column {

	.section-divider {
		-webkit-transform: rotate(90deg) translateY(-3.3rem);
		    -ms-transform: rotate(90deg) translateY(-3.3rem);
		        transform: rotate(90deg) translateY(-3.3rem);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		margin-top: 10.7rem;
		margin-right: 100%;

		h6 {
			position: relative;
			margin-left: 1rem;
			letter-spacing: .9rem;
			white-space: nowrap;
		}
		.playfair-divider {
			margin: 0 1rem 0 1.5rem;
		}
		img#starfish-icon {
			position: absolute;
			width: 6.8rem;
			height: auto;
			margin: -.5rem 0 .5rem 4rem;
		}
	}
}

#color-bars-column {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	img#color-bars-policies {
		margin-top: 9.9rem;
		margin-right: .6rem;
		height: 1.1rem;
	}
}

.policy {
	h5 {
		margin: 3rem 0 0 0;
	}
	p {
		margin: .5rem 0 2.8rem 0;
	}
}

// Hide side columns on smaller screens
@media only screen and (max-width: 880px) {

	img#green-paint {
		height: 29rem !important;
		left: -6vw !important;
		width: calc(100% + 7vw) !important;
	}

	.col-gutter {
		display: none !important;
	}
	.col-main {
		width: 100% !important;
	}
	#star-number {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	#color-bars-i {
		opacity: 1 !important;
	}
	#i-character {
		opacity: 0 !important;
	}
}

// Reduce size of header
@media only screen and (max-width: 600px) {
	#policies-container {
		padding: 0 0 5rem 0;

		.container {
			padding-top: 14rem;
		}

		img#green-paint {
			height: 18rem !important;
			left: -25vw;
			width: 168vw !important;
		}

		h1 {
			font-size: 6rem !important;
			line-height: 6rem !important;
			height: 6rem !important;
			padding-left: .5rem !important;
			padding-right: 0 !important;
			margin-bottom: 2.4rem !important;
		}

		#O {
			.playfair {
				font-size: 1.4rem !important;
				margin-top: -.2rem !important;
				letter-spacing: 0 !important;
			}
		}

		#I {
			height: 4.5rem !important;
			margin-top: .7rem;
		}

		#color-bars-i {
			bottom: 1rem !important;
			left: -1.5rem !important;
			height: .6rem !important;
			width: 4.5rem !important;
		}

	}
}