<section id="policies-container">

	<img src="../../../assets/green_paint.png" alt="gorgeous paint" id="green-paint">

	<div class="container">

		<div class="grid-row">
			<div class="col-gutter" id="policies-header-column">
				<div class="section-divider">
					<img src="../../../assets/icon_starfish.jpg" alt="a starfish" id="starfish-icon">
					<h6>
						<span class="playfair">0:4</span>
						<span class="playfair-divider">/</span>
						<span>SALON POLICIES</span>
					</h6>
				</div>
			</div>
			<div class="col-main">
				<!-- POLICIES Header -->
				<h1 class="txt-regular">
					<span>P</span>
					<span id="O">
						O
						<span id="star-number">
							<span class="playfair">0:4</span>
							<img src="../../../assets/icon_starfish.jpg" alt="a starfish" id="starfish-icon">
						</span>
					</span>
					<span>L</span>
					<span>I</span>
					<span>C</span>
					<span id="I">
						<span id="i-character">I</span>
						<img src="../../../assets/color-bar_policies.svg" class="color-bars" alt="color bars" id="color-bars-i">
					</span>
					<span>E</span>
					<span>S</span>
				</h1>

				<p>
					At CHURCH Salon the goal is for you to enjoy your handcrafted hair. That’s why the work is guaranteed. If, within seven days, you feel your service is not what was agreed upon during your consultation, CHURCH Salon will happily make necessary corrections at no cost to you. Please note that due to the subjective nature of our industry, CHURCH does not issue cash refunds on services, and reserves the right to decline correction if it appears to be a request outside the scope of the original consultation.
				</p>

				<div *ngFor="let policy of policies; let i = index" class="policy">
					<h5 *ngIf="policy.header" class="txt-gold txt-bold txt-allcaps">{{policy.header}}</h5>
					<p *ngFor="let p of policy.paragraphs">{{p}}</p>
				</div>

			</div>
			<div class="col-gutter" id="color-bars-column">
				<img src="../../../assets/color-bar_policies.svg" class="color-bars" alt="color bars" id="color-bars-policies">
			</div>
		</div>
	</div>

</section>