<section id="policies-container">

	<img src="../../../assets/green_paint.png" alt="gorgeous paint" id="green-paint">

	<div class="container">

		<div class="grid-row">
			<div class="col-xs-2" id="policies-header-column">
				<div class="section-divider">
					<img src="../../../assets/icon_starfish.jpg" alt="policies" id="starfish-icon">
					<h6>
						<span class="playfair">05</span>
						<span class="playfair-divider">/</span>
						<span>SALON POLICIES</span>
					</h6>
				</div>
			</div>
			<div class="col-xs-8">
				<h1 class="txt-light">POLICIES</h1>

				<p>
					At 14th and Grand Salon, we want you to be happy with your hair. That’s why we guarantee our work. If, within seven days, you feel your service is not what you requested, 14th and Grand will happily make necessary corrections at no cost to you. Please note that due to the subjective nature of our industry, 14th and Grand Management does not issue cash refunds on services, and reserves the right to decline correction if it appears to be an abuse of our generous guarantee.
				</p>

				<div *ngFor="let policy of policies; let i = index" class="policy">
					<h5 *ngIf="policy.header" class="txt-gold txt-bold txt-allcaps">{{policy.header}}</h5>
					<p *ngFor="let p of policy.paragraphs">{{p}}</p>
				</div>

			</div>
			<div class="col-xs-2" id="color-bars-column">
				<img src="../../../assets/color-bar_policies.svg" class="color-bars" alt="color bars" id="color-bars-policies">
			</div>
		</div>
	</div>

</section>