<section id="policies-container">

	<img src="../../../assets/green_paint.png" alt="gorgeous paint" id="green-paint">

	<div class="container">

		<div class="grid-row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<h1 class="txt-light">POLICIES</h1>

				<p>
					14th and Grand Salon’s service prices vary and reflect the level of expertise of each stylist. As our stylists are always striving to perfect their craft, these prices are subject to change without notification. The prices listed above begin with our New Talent level.
				</p>
				<p>
					At 14th and Grand Salon, we want you to be happy with your hair. That’s why we guarantee our work. If, within seven days, you feel your service is not what you requested, 14th and Grand will happily make necessary corrections at no cost to you. Please note that due to the subjective nature of our industry, 14th and Grand Management does not issue cash refunds on services, and reserves the right to decline correction if it appears to be an abuse of our generous guarantee.
				</p>
				<p>
					Walk-ins are always welcome based on availability.
				</p>
				<p>
					We understand that occasionally, an unforeseen circumstance means running late or a schedule change. In the event that you arrive more than 10 minutes late to your scheduled appointment, we will do everything within our power to accommodate you. Please understand, this may require you to see a different stylist, and in some cases we may need to reschedule your appointment for another time.
				</p>
				<p>
					If you need to change or cancel your appointment, we ask that you provide us with 24-hour notice. We have reserved this time for you; however, we would love the opportunity to offer it to another client if you are unable to make it. This means everyone has a better chance of getting the appointment time they need.
				</p>
				<p>
					No-show policy/Cancellations
					Your appointments are very important to us and are reserved especially for you. We understand that sometimes schedule adjustments are necessary; therefore, we respectfully request at least 24-hour’s notice for cancellations. Please understand that when you forget or cancel your appointment without giving enough notice, we miss the opportunity to fill that time. Less than 24 hour notice may result in a charge equal to 50% of the reserved service amount. No-shows may be charged 100% of the reserved amount.
				</p>
				<p>
					Deposit Policy (corrective colors, ombres, balayage, perms, etc)
					Starting March 15, a $50 nonrefundable deposit is required in order to reserve your appointment upon scheduling any services that requires 2+hours. This deposit will be credited toward service fees.
				</p>

			</div>
			<div class="col-xs-2"></div>
		</div>
	</div>

</section>